<footer class="footer">
    <div class="footer-content">
        <div class="logo"> 
            <div>
                <img src="/images/logo_ufu.svg" alt="Universidade Federal de Uberlândia" />
            </div>
        </div>

        <div class="contact">
            <strong>{{ 'FOOTER.QUESTIONS' | translate }}</strong>
            <p>{{ 'FOOTER.SEND_EMAIL' | translate }}</p>
            <a href="mailto:debugandoed&#64;gmail.com">debugandoed&#64;gmail.com</a>
        </div>

        <div class="logo">
            <div>
                <img src="./images/logo_facom.png" alt="Faculdade de Computação" />
            </div>
        </div>
    </div>
</footer>