.home {
    padding: 0rem 10rem;
    margin: 0 auto;
    background-color: white;
    h1 {
        text-align: center;
        margin: 0;
        padding: 2rem 0;
        color: #333333;
        font-weight: bolder;
        font-size: 48px;
    }
}
